header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 0 0 150px;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
}

.logo {
    width: 150px;
    height: 150px;
    padding-right: 120px;
}

nav {
    font-size: 20px;
    font-family: Calibri, serif;
}

nav a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(80, 125, 200);
}

nav a:hover {
    color: purple;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 8px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #7196f5;
    color: white;
}

.view, .edit, .delete {
    border: none;
    color: #FFFFFF;
    display: inline-block;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 6px 24px;
    text-decoration: none;
}

.fas {
    width: 15px;
    height: 15px;
}

.view {
    background-color: #008CBA;
}

.view:hover {
    background-color: #006994;
}

.edit {
    background-color: #518580;
}

.edit:hover {
    background-color: #2c5954;
}

.delete {
    background-color: #be5a5a;
}

.delete:hover {
    background-color: #4d1f1f;
}